@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 30, 31, 33;
  --background-nav-rgb: 20, 21, 23;
  --primary-rgb: 110, 231, 183;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  background-attachment: fixed;
}

.primaryrgb {
  color: rgb(var(--primary-rgb));
}

.foregroundrgb {
  color: rgb(var(--foreground-rgb));
}

.backgroundrgb {
  background: rgb(var(--background-rgb));
}

.navbar {
  background: rgb(var(--background-rgb));
}

/* default colors */
