@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #ffffff;
  --background-rgb: #1e1f21;
  --primary-rgb: #6ee7b7;
  scroll-behavior: smooth;
  font-size: 15px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  background-attachment: fixed;
}

/* default colors */
